$header-background: $brand-primary;
$navigation-anchor-background: lighten($header-background, 10%);
$navigation-anchor-background-hover: lighten($brand-primary, 5%);
$navigation-anchor-background-active: $brand-secondary;

#header{
  .logo-container{
    align-items: center;
    background: $header-background;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: $app-padding;
  }

  nav {
    &.closed {
      display: none;
    }
  }

  li{
    a {
      background: $navigation-anchor-background;
      border-bottom: $header-background solid 1px;
      border-right: $navigation-anchor-background solid 5px;
      display: block;
      padding: 10px;
      text-align: right;
      &:hover {
        background: $navigation-anchor-background-hover;
        border-right-color: $navigation-anchor-background-hover;
      }
      &.active {
        border-right-color: $navigation-anchor-background-active;
      }
    }
  }

  .menu-switch{
    font-size: 25px;
  }

  a{
    color: #fff;
  }

}
