.search-bar{
  background: lighten($brand-primary, 10%);
  padding: $app-padding;
  color: #fff;
}

.search-component{
  display: flex;
  margin-bottom: 15px;
  input[type='text'] {
    flex-grow: 1;
    padding: 10px 15px;
    color: #666;
    border: #666 solid 1px;
  }
  button {
    background: $brand-primary;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    .icon-search{
      margin-right: 5px;
    }
  }
}

.filters{
  display: flex;
  .filter {
    padding-right: 30px;
  }
}
