@font-face {
  font-family: 'PT_Sans-Narrow';
  font-weight: normal;
  src: url('/public-assets/font/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf');
}

@font-face {
  font-family: 'PT_Sans-Narrow';
  font-weight: bold;
  src: url('/public-assets/font/PT_Sans_Narrow/PT_Sans-Narrow-Web-Bold.ttf');
}


// Font
$body-font-size: 18px;
$header-font-size: 26px;
$sub-header-font-size: 21px;

