// Variables
@import './partials/variables';

// Vendor Styles
@import '~node-normalize-scss/normalize';

// @import '~/public-assets/font-icons/css/fontello.css';
// @import '~/public-assets/font-icons/css/animation.css';
@import '~/mailapp/public-assets/font-icons/css/fontello.css';
@import '~/mailapp/public-assets/font-icons/css/animation.css';

// Animations
@import './animations/animation';

// Custom Styles
@import './partials/header';

body {
  background-color: $body-background-color;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

[class^='icon'] {
  cursor: pointer;
}
