// Variables
@import './partials/variables';

// Vendor Styles
@import '~node-normalize-scss/normalize';

// Animations
@import './animations/animation';

// Custom Styles
@import './partials/header';
@import './partials/search-bar';
@import './partials/parcel-card';

html,
body {
  height: 100%;
}

body {
  background-color: $body-background-color;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

[class^='icon'] {
  cursor: pointer;
}

button {
  background-color: map-get($brand-colors, primary);
  border: 0;
  color: #fff;
  padding: 10px 15px;
}
